@import url('https://fonts.googleapis.com/css2?family=Kavivanar&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  #imageInput {
    margin-bottom: 20px;
  }
  
  #imageContainer img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  .instagram-button {
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    transition: background 0.3s ease-in-out;
}

.instagram-button:hover {
    background: linear-gradient(45deg, #bc1888, #cc2366, #dc2743, #e6683c, #f09433);
}

.youtube-button {
            background-color: #CC0000 !important; /* YouTube red */
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 50px;
            transition: background-color 0.3s ease-in-out;
 }

.youtube-button:hover {
            background-color: #CC0000 !important; /* Slightly darker red for hover effect */
 }

 .bi-hand-index-thumb::before{
          transform: rotate(90deg) !important;
 }

    /* CSS for Tirukkural couplets */
    #tirukkural-container {
      max-width: 600px; /* Adjust as per your layout */
      margin: 0 auto; /* Center align container */
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      text-align: center;
  }

  #tirukkural-container p {
      margin: 0; /* Remove default margin */
      font-family: "Kavivanar", cursive;
      color:forestgreen;
      font-weight: bold;
      text-align: left;
  }
  #tirukkural-container h2 {
    margin: 0; /* Remove default margin */
    font-family: "Kavivanar", cursive;
    color:rgb(34, 67, 139);
    font-weight: bold;
    margin-bottom: 5px;
}


.card {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}
.l-bg-instagram {
  background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888) !important;
  color: #fff;
}

.l-bg-youtube {
  background:  #FF0000 !important;
  color: #fff;
}

.card .card-statistic-3 .card-icon-large .bi, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
  font-size: 110px;
}

.card .card-statistic-3 .card-icon {
  text-align: center;
  line-height: 50px;
  margin-left: 15px;
  color: #000000;
  position: absolute;
  right: 5px;
  top: 20px;
  opacity: 0.1;
}
